In [10]:
import numpy as np
import pandas as pd

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [11]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

checking how many data points we have

In [13]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples of the data.
we have to be careful not to overfit the data due to small samples

In [14]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [16]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

This confirms the data is very clean and is ready to be used to build the model.

Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [18]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [19]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [20]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [57]:
n_columns=predictors.shape[1]

Now Let's import keras

In [58]:
import keras

In [59]:
from keras.models import Sequential
from keras.layers import Dense

create a  model using the keras

In [65]:
# define regression model
def my_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_columns,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
 X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.33, random_state=42)

Let's call the function to return the model

In [68]:
# build the model
model = my_model()

In [80]:
#fit the model 
#taking 50 epochs
model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
22/22 [==============================] - 0s 2ms/step - loss: 107.6917
Epoch 2/50
22/22 [==============================] - 0s 2ms/step - loss: 106.8979
Epoch 3/50
22/22 [==============================] - 0s 2ms/step - loss: 106.8669
Epoch 4/50
22/22 [==============================] - 0s 2ms/step - loss: 107.6915
Epoch 5/50
22/22 [==============================] - 0s 2ms/step - loss: 105.3319
Epoch 6/50
22/22 [==============================] - 0s 2ms/step - loss: 105.5601
Epoch 7/50
22/22 [==============================] - 0s 2ms/step - loss: 105.6433
Epoch 8/50
22/22 [==============================] - 0s 2ms/step - loss: 106.0214
Epoch 9/50
22/22 [==============================] - 0s 2ms/step - loss: 106.6021
Epoch 10/50
22/22 [==============================] - 0s 2ms/step - loss: 107.8838
Epoch 11/50
22/22 [==============================] - 0s 2ms/step - loss: 105.6098
Epoch 12/50
22/22 [==============================] - 0s 2ms/step - loss: 106.5378
Epoch 13/50
22/22 [==============================] - 0s 2ms/step - loss: 108.1721
Epoch 14/50
22/22 [==============================] - 0s 2ms/step - loss: 105.7318
Epoch 15/50
22/22 [==============================] - 0s 2ms/step - loss: 114.6652
Epoch 16/50
22/22 [==============================] - 0s 2ms/step - loss: 118.9989
Epoch 17/50
22/22 [==============================] - 0s 2ms/step - loss: 107.0738
Epoch 18/50
22/22 [==============================] - 0s 2ms/step - loss: 105.3766
Epoch 19/50
22/22 [==============================] - 0s 2ms/step - loss: 107.2058
Epoch 20/50
22/22 [==============================] - 0s 3ms/step - loss: 107.9212
Epoch 21/50
22/22 [==============================] - 0s 2ms/step - loss: 106.0729
Epoch 22/50
22/22 [==============================] - 0s 1ms/step - loss: 106.2694
Epoch 23/50
22/22 [==============================] - 0s 2ms/step - loss: 105.1856
Epoch 24/50
22/22 [==============================] - 0s 2ms/step - loss: 103.7498
Epoch 25/50
22/22 [==============================] - 0s 2ms/step - loss: 107.2614
Epoch 26/50
22/22 [==============================] - 0s 2ms/step - loss: 111.8154
Epoch 27/50
22/22 [==============================] - 0s 2ms/step - loss: 106.3059
Epoch 28/50
22/22 [==============================] - 0s 2ms/step - loss: 106.3860
Epoch 29/50
22/22 [==============================] - 0s 2ms/step - loss: 112.4142
Epoch 30/50
22/22 [==============================] - 0s 2ms/step - loss: 110.3158
Epoch 31/50
22/22 [==============================] - 0s 2ms/step - loss: 107.4697
Epoch 32/50
22/22 [==============================] - 0s 2ms/step - loss: 107.3511
Epoch 33/50
22/22 [==============================] - 0s 2ms/step - loss: 105.8271
Epoch 34/50
22/22 [==============================] - 0s 2ms/step - loss: 106.0722
Epoch 35/50
22/22 [==============================] - 0s 2ms/step - loss: 106.8888
Epoch 36/50
22/22 [==============================] - 0s 1ms/step - loss: 107.0490
Epoch 37/50
22/22 [==============================] - 0s 1ms/step - loss: 105.4345
Epoch 38/50
22/22 [==============================] - 0s 1ms/step - loss: 106.6477
Epoch 39/50
22/22 [==============================] - 0s 1ms/step - loss: 104.8902
Epoch 40/50
22/22 [==============================] - 0s 2ms/step - loss: 107.9911
Epoch 41/50
22/22 [==============================] - 0s 2ms/step - loss: 106.3179
Epoch 42/50
22/22 [==============================] - 0s 2ms/step - loss: 106.1992
Epoch 43/50
22/22 [==============================] - 0s 1ms/step - loss: 106.0772
Epoch 44/50
22/22 [==============================] - 0s 1ms/step - loss: 104.5757
Epoch 45/50
22/22 [==============================] - 0s 1ms/step - loss: 110.8037
Epoch 46/50
22/22 [==============================] - 0s 1ms/step - loss: 107.0785
Epoch 47/50
22/22 [==============================] - 0s 1ms/step - loss: 106.4459
Epoch 48/50
22/22 [==============================] - 0s 2ms/step - loss: 104.4690
Epoch 49/50
22/22 [==============================] - 0s 2ms/step - loss: 108.3675
Epoch 50/50
22/22 [==============================] - 0s 2ms/step - loss: 109.0951

In [81]:
loss_value=model.evaluate(X_test,y_test)

11/11 [==============================] - 0s 2ms/step - loss: 111.1131

In [82]:
y_pred=model.predict(X_test)

11/11 [==============================] - 0s 2ms/step

In [83]:
loss_value

111.11312866210938

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [84]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

111.11310690603534 0.0

In [85]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 93.27931213378906
10/10 [==============================] - 0s 2ms/step
MSE 2: 124.23240661621094
10/10 [==============================] - 0s 2ms/step
MSE 3: 108.76954650878906
10/10 [==============================] - 0s 2ms/step
MSE 4: 137.59161376953125
10/10 [==============================] - 0s 2ms/step
MSE 5: 120.60163879394531
10/10 [==============================] - 0s 2ms/step
MSE 6: 107.07493591308594
10/10 [==============================] - 0s 2ms/step
MSE 7: 136.7730255126953
10/10 [==============================] - 0s 2ms/step
MSE 8: 108.33219909667969
10/10 [==============================] - 0s 2ms/step
MSE 9: 120.82518005371094
10/10 [==============================] - 0s 2ms/step
MSE 10: 110.91902923583984
10/10 [==============================] - 0s 2ms/step
MSE 11: 103.72682189941406
10/10 [==============================] - 0s 1ms/step
MSE 12: 131.43643188476562
10/10 [==============================] - 0s 1ms/step
MSE 13: 112.54243469238281
10/10 [==============================] - 0s 1ms/step
MSE 14: 120.9048843383789
10/10 [==============================] - 0s 2ms/step
MSE 15: 105.6085433959961
10/10 [==============================] - 0s 2ms/step
MSE 16: 109.09940338134766
10/10 [==============================] - 0s 2ms/step
MSE 17: 107.18580627441406
10/10 [==============================] - 0s 2ms/step
MSE 18: 106.07659912109375
10/10 [==============================] - 0s 2ms/step
MSE 19: 100.10301971435547
10/10 [==============================] - 0s 2ms/step
MSE 20: 115.05081939697266
10/10 [==============================] - 0s 1ms/step
MSE 21: 99.64949798583984
10/10 [==============================] - 0s 2ms/step
MSE 22: 119.94378662109375
10/10 [==============================] - 0s 2ms/step
MSE 23: 104.0814208984375
10/10 [==============================] - 0s 2ms/step
MSE 24: 102.16264343261719
10/10 [==============================] - 0s 2ms/step
MSE 25: 105.9009017944336
10/10 [==============================] - 0s 2ms/step
MSE 26: 99.00265502929688
10/10 [==============================] - 0s 2ms/step
MSE 27: 117.91258239746094
10/10 [==============================] - 0s 2ms/step
MSE 28: 107.84488677978516
10/10 [==============================] - 0s 2ms/step
MSE 29: 89.34796905517578
10/10 [==============================] - 0s 2ms/step
MSE 30: 102.63825988769531
10/10 [==============================] - 0s 2ms/step
MSE 31: 98.80979919433594
10/10 [==============================] - 0s 2ms/step
MSE 32: 72.49859619140625
10/10 [==============================] - 0s 2ms/step
MSE 33: 75.0674057006836
10/10 [==============================] - 0s 2ms/step
MSE 34: 72.91244506835938
10/10 [==============================] - 0s 2ms/step
MSE 35: 76.69044494628906
10/10 [==============================] - 0s 1ms/step
MSE 36: 64.3791275024414
10/10 [==============================] - 0s 2ms/step
MSE 37: 64.07980346679688
10/10 [==============================] - 0s 2ms/step
MSE 38: 53.596153259277344
10/10 [==============================] - 0s 1ms/step
MSE 39: 66.02470397949219
10/10 [==============================] - 0s 2ms/step
MSE 40: 43.89280319213867
10/10 [==============================] - 0s 1ms/step
MSE 41: 50.46559524536133
10/10 [==============================] - 0s 2ms/step
MSE 42: 44.69929885864258
10/10 [==============================] - 0s 2ms/step
MSE 43: 44.084068298339844
10/10 [==============================] - 0s 3ms/step
MSE 44: 55.4279670715332
10/10 [==============================] - 0s 1ms/step
MSE 45: 56.535743713378906
10/10 [==============================] - 0s 2ms/step
MSE 46: 48.29159164428711
10/10 [==============================] - 0s 1ms/step
MSE 47: 47.57319259643555
10/10 [==============================] - 0s 1ms/step
MSE 48: 47.416011810302734
10/10 [==============================] - 0s 3ms/step
MSE 49: 48.76982879638672
10/10 [==============================] - 0s 2ms/step
MSE 50: 56.628292083740234
10/10 [==============================] - 0s 2ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 90.32922004265696
Standard Deviation: 28.198382683564013