In [10]:
import numpy as np
import pandas as pd

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [11]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

checking how many data points we have

In [13]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples of the data.
we have to be careful not to overfit the data due to small samples

In [14]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [16]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

This confirms the data is very clean and is ready to be used to build the model.

Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [18]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [19]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [89]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

normalizing the data by substracting the mean and dividing by the standard deviation

In [90]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [91]:
n_columns=predictors_norm.shape[1]

Now Let's import keras

In [58]:
import keras

In [59]:
from keras.models import Sequential
from keras.layers import Dense

create a  model using the keras

In [65]:
# define regression model
def my_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_columns,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [66]:
from sklearn.model_selection import train_test_split

In [92]:
 X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.33, random_state=42)

Let's call the function to return the model

In [93]:
# build the model
model = my_model()

In [94]:
#fit the model 
#taking 50 epochs
model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
22/22 [==============================] - 1s 1ms/step - loss: 1567.6758
Epoch 2/50
22/22 [==============================] - 0s 1ms/step - loss: 1551.5198
Epoch 3/50
22/22 [==============================] - 0s 1ms/step - loss: 1534.9768
Epoch 4/50
22/22 [==============================] - 0s 1ms/step - loss: 1518.0857
Epoch 5/50
22/22 [==============================] - 0s 997us/step - loss: 1500.5936
Epoch 6/50
22/22 [==============================] - 0s 1ms/step - loss: 1482.2814
Epoch 7/50
22/22 [==============================] - 0s 1ms/step - loss: 1463.0472
Epoch 8/50
22/22 [==============================] - 0s 1ms/step - loss: 1442.5652
Epoch 9/50
22/22 [==============================] - 0s 1ms/step - loss: 1420.9359
Epoch 10/50
22/22 [==============================] - 0s 1ms/step - loss: 1398.0170
Epoch 11/50
22/22 [==============================] - 0s 1ms/step - loss: 1373.7708
Epoch 12/50
22/22 [==============================] - 0s 1ms/step - loss: 1348.1587
Epoch 13/50
22/22 [==============================] - 0s 1ms/step - loss: 1321.4872
Epoch 14/50
22/22 [==============================] - 0s 1ms/step - loss: 1293.2150
Epoch 15/50
22/22 [==============================] - 0s 1ms/step - loss: 1264.3859
Epoch 16/50
22/22 [==============================] - 0s 1ms/step - loss: 1233.8473
Epoch 17/50
22/22 [==============================] - 0s 1ms/step - loss: 1202.5717
Epoch 18/50
22/22 [==============================] - 0s 1ms/step - loss: 1169.7737
Epoch 19/50
22/22 [==============================] - 0s 1ms/step - loss: 1137.0458
Epoch 20/50
22/22 [==============================] - 0s 1ms/step - loss: 1103.8188
Epoch 21/50
22/22 [==============================] - 0s 1ms/step - loss: 1069.1127
Epoch 22/50
22/22 [==============================] - 0s 1ms/step - loss: 1034.9303
Epoch 23/50
22/22 [==============================] - 0s 1ms/step - loss: 1000.3124
Epoch 24/50
22/22 [==============================] - 0s 1ms/step - loss: 965.6848
Epoch 25/50
22/22 [==============================] - 0s 1ms/step - loss: 930.4019
Epoch 26/50
22/22 [==============================] - 0s 1ms/step - loss: 896.2502
Epoch 27/50
22/22 [==============================] - 0s 1ms/step - loss: 862.2679
Epoch 28/50
22/22 [==============================] - 0s 1ms/step - loss: 828.9373
Epoch 29/50
22/22 [==============================] - 0s 1ms/step - loss: 795.5366
Epoch 30/50
22/22 [==============================] - 0s 1ms/step - loss: 763.5950
Epoch 31/50
22/22 [==============================] - 0s 1ms/step - loss: 732.3359
Epoch 32/50
22/22 [==============================] - 0s 1ms/step - loss: 702.3725
Epoch 33/50
22/22 [==============================] - 0s 1ms/step - loss: 673.2116
Epoch 34/50
22/22 [==============================] - 0s 1ms/step - loss: 644.9824
Epoch 35/50
22/22 [==============================] - 0s 1ms/step - loss: 618.0920
Epoch 36/50
22/22 [==============================] - 0s 1ms/step - loss: 592.2150
Epoch 37/50
22/22 [==============================] - 0s 1ms/step - loss: 567.1674
Epoch 38/50
22/22 [==============================] - 0s 1ms/step - loss: 543.5921
Epoch 39/50
22/22 [==============================] - 0s 1ms/step - loss: 521.3469
Epoch 40/50
22/22 [==============================] - 0s 1ms/step - loss: 500.2337
Epoch 41/50
22/22 [==============================] - 0s 935us/step - loss: 480.3011
Epoch 42/50
22/22 [==============================] - 0s 1ms/step - loss: 461.5800
Epoch 43/50
22/22 [==============================] - 0s 1ms/step - loss: 444.0044
Epoch 44/50
22/22 [==============================] - 0s 2ms/step - loss: 426.9657
Epoch 45/50
22/22 [==============================] - 0s 1ms/step - loss: 411.3197
Epoch 46/50
22/22 [==============================] - 0s 1ms/step - loss: 396.3423
Epoch 47/50
22/22 [==============================] - 0s 1ms/step - loss: 382.2534
Epoch 48/50
22/22 [==============================] - 0s 1ms/step - loss: 369.2046
Epoch 49/50
22/22 [==============================] - 0s 1ms/step - loss: 356.7813
Epoch 50/50
22/22 [==============================] - 0s 1ms/step - loss: 345.1986

In [95]:
loss_value=model.evaluate(X_test,y_test)

11/11 [==============================] - 0s 1ms/step - loss: 344.9578

In [96]:
y_pred=model.predict(X_test)

11/11 [==============================] - 0s 1ms/step

In [97]:
loss_value

344.95782470703125

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [98]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

344.9578539517482 0.0

In [100]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 106.98853302001953
10/10 [==============================] - 0s 1ms/step
MSE 2: 107.12973022460938
10/10 [==============================] - 0s 1ms/step
MSE 3: 77.30272674560547
10/10 [==============================] - 0s 1ms/step
MSE 4: 71.99444580078125
10/10 [==============================] - 0s 1ms/step
MSE 5: 68.8219223022461
10/10 [==============================] - 0s 1ms/step
MSE 6: 67.0029067993164
10/10 [==============================] - 0s 1ms/step
MSE 7: 68.63764190673828
10/10 [==============================] - 0s 1ms/step
MSE 8: 58.28990936279297
10/10 [==============================] - 0s 1ms/step
MSE 9: 58.77272415161133
10/10 [==============================] - 0s 1ms/step
MSE 10: 53.43775939941406
10/10 [==============================] - 0s 1ms/step
MSE 11: 55.94029235839844
10/10 [==============================] - 0s 1ms/step
MSE 12: 52.71601867675781
10/10 [==============================] - 0s 778us/step
MSE 13: 60.618263244628906
10/10 [==============================] - 0s 1ms/step
MSE 14: 58.873836517333984
10/10 [==============================] - 0s 1ms/step
MSE 15: 48.38095474243164
10/10 [==============================] - 0s 1ms/step
MSE 16: 40.13920593261719
10/10 [==============================] - 0s 1ms/step
MSE 17: 45.2708854675293
10/10 [==============================] - 0s 1ms/step
MSE 18: 44.81064987182617
10/10 [==============================] - 0s 1ms/step
MSE 19: 42.52109909057617
10/10 [==============================] - 0s 1ms/step
MSE 20: 46.643104553222656
10/10 [==============================] - 0s 889us/step
MSE 21: 39.45628356933594
10/10 [==============================] - 0s 1ms/step
MSE 22: 46.547767639160156
10/10 [==============================] - 0s 1ms/step
MSE 23: 36.91215515136719
10/10 [==============================] - 0s 1ms/step
MSE 24: 38.77336883544922
10/10 [==============================] - 0s 1ms/step
MSE 25: 40.24373245239258
10/10 [==============================] - 0s 1ms/step
MSE 26: 43.218379974365234
10/10 [==============================] - 0s 1ms/step
MSE 27: 36.87477111816406
10/10 [==============================] - 0s 1ms/step
MSE 28: 38.65098190307617
10/10 [==============================] - 0s 1ms/step
MSE 29: 45.350929260253906
10/10 [==============================] - 0s 1ms/step
MSE 30: 42.433345794677734
10/10 [==============================] - 0s 1ms/step
MSE 31: 40.626705169677734
10/10 [==============================] - 0s 1ms/step
MSE 32: 39.52778625488281
10/10 [==============================] - 0s 1ms/step
MSE 33: 40.58992004394531
10/10 [==============================] - 0s 1ms/step
MSE 34: 41.40255355834961
10/10 [==============================] - 0s 1ms/step
MSE 35: 38.992164611816406
10/10 [==============================] - 0s 1ms/step
MSE 36: 48.909088134765625
10/10 [==============================] - 0s 1ms/step
MSE 37: 37.239036560058594
10/10 [==============================] - 0s 1ms/step
MSE 38: 41.73585510253906
10/10 [==============================] - 0s 1ms/step
MSE 39: 40.01181411743164
10/10 [==============================] - 0s 889us/step
MSE 40: 35.963600158691406
10/10 [==============================] - 0s 1ms/step
MSE 41: 41.997215270996094
10/10 [==============================] - 0s 1ms/step
MSE 42: 35.46066665649414
10/10 [==============================] - 0s 1ms/step
MSE 43: 40.28447723388672
10/10 [==============================] - 0s 1ms/step
MSE 44: 41.10436248779297
10/10 [==============================] - 0s 1ms/step
MSE 45: 41.50782012939453
10/10 [==============================] - 0s 1ms/step
MSE 46: 41.83515548706055
10/10 [==============================] - 0s 1ms/step
MSE 47: 38.0950813293457
10/10 [==============================] - 0s 1ms/step
MSE 48: 40.23405838012695
10/10 [==============================] - 0s 1ms/step
MSE 49: 39.76874923706055
10/10 [==============================] - 0s 1ms/step
MSE 50: 42.96675109863281
10/10 [==============================] - 0s 1ms/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 49.020142959839184
Standard Deviation: 15.634717331392013